{{- if .RagResults }}
We have found the following context you may refer to in your answer:
{{- range .RagResults }}
<article>
<document_id>
DocumentID: {{ .DocumentID }}
</document_id>
<content>
Content: {{ .Content }}
</content>
</article>
{{- end }}

Please provided references in your answer in the format '[DOC_ID:DocumentID]'. For example, "According to [DOC_ID:f6962c8007], the answer is 42."            
{{- end }}

{{- if .KnowledgeResults }}
We have found the following context you may refer to in your answer:
{{- range .KnowledgeResults }}
{{- if .DocumentID }}
<document_id>
DocumentID: {{ .DocumentID }}
</document_id>
{{- end }}
<article>
{{- if .Source }}
<source>
Source URL: {{ .Source }}
</source>
{{- end }}
{{- if .Description }}
<description>
Description: {{ .Description }}
</description>
{{- end }}
<content>
Content: {{ .Content }}
</content>
</article>
{{- end }}

Please provided references in your answer in the format '[DOC_ID:DocumentID]'. For example, "According to [DOC_ID:f6962c8007], the answer is 42."            
{{- end }}

Here is the question from the user:
{{.Question}}