{{- if .RagResults }}
We have found the following context you may refer to in your answer:
{{- range .RagResults }}
<article>
<document_id>
{{ .DocumentID }}
</document_id>
<content>
{{ .Content }}
</content>
</article>
{{- end }}

Always provide references in the body of your answer in the format '[DOC_ID:DocumentID]'. For example, "The answer is 42 [DOC_ID:f6962c8007]."

Always provide references in the body of your answer!

After your answer, include excerpts in XML format surrounded by three dashes like ---. These should be short sentence-long excerpts from the content that you referenced when answering the question, in the form below. Provide one excerpt per document. Provide EXACT QUOTES from the content. Do not include any other text inside the --- markers.

---
<excerpts>
<excerpt>
<document_id>[DocumentID]</document_id>
<snippet>[Excerpt]</snippet>
</excerpt>
</excerpts>
---

{{- end }}

{{- if .KnowledgeResults }}
We have found the following context you may refer to in your answer:
{{- range .KnowledgeResults }}
{{- if .DocumentID }}
<document_id>
{{ .DocumentID }}
</document_id>
{{- end }}
<article>
{{- if .Source }}
<source>
{{ .Source }}
</source>
{{- end }}
{{- if .Description }}
<description>
{{ .Description }}
</description>
{{- end }}
<content>
{{ .Content }}
</content>
</article>
{{- end }}

Always provide references in the body of your answer in the format '[DOC_ID:DocumentID]'. For example, "The answer is 42 [DOC_ID:f6962c8007]."

Always provide references in the body of your answer!

After your answer, include excerpts in XML format surrounded by three dashes like ---. These should be short sentence-long excerpts from the content that you referenced when answering the question, in the form below. Provide one excerpt per document. Provide EXACT QUOTES from the content. Do not include any other text inside the --- markers.

---
<excerpts>
<excerpt>
<document_id>[DocumentID]</document_id>
<snippet>[Excerpt]</snippet>
</excerpt>
</excerpts>
---

{{- end }}

Here is the question from the user:
{{.Question}}