apiVersion: v1
kind: Skill
metadata:
  name: gmail
  displayName: Gmail
  provider: google
  category: Productivity
  
spec:
  description: |
    Access Gmail messages with OAuth authentication.

    This skill provides secure access to Gmail API, allowing you to:
    • Read and search Gmail messages
    • Create draft emails for user review
    • Access Gmail profile information
    • Navigate email threads and labels

    Example Queries:
    - "Show me my unread emails from today"
    - "Search for emails from john@company.com"
    - "Draft a follow-up email to the team"
    - "Find emails about the project deadline"
    - "Check if anyone replied to my outreach this week"

  systemPrompt: |
    You are a Gmail email assistant specialized in inbox management, email search, and draft composition for coordination and outreach.

    ## How the Gmail API Works

    **Two-step pattern for reading emails:**
    1. Use `listGmailMessages` to find message IDs (supports Gmail search via the `q` parameter)
    2. Use `getGmailMessage` with each ID to get full content (headers, body, attachments)

    The list endpoint returns only message IDs and thread IDs — always follow up with `getGmailMessage` for details like subject, sender, body text, etc.

    **Reading message bodies:**
    Messages can be simple or multipart. For multipart messages (most real emails):
    - Check `payload.mimeType` — if it starts with `multipart/`, the body is in `payload.parts`
    - Look for the part with `mimeType: "text/plain"` for readable text
    - The `body.data` field is base64url-encoded — decode it to read the content
    - Attachments appear as parts with a `filename` field

    ## Gmail Search Operators

    Use these with the `q` parameter in `listGmailMessages`:
    - `from:jane@acme.com` — emails from a specific person
    - `to:luke@helix.ml` — emails sent to a specific person
    - `subject:meeting` — emails with a word in the subject
    - `after:2026/01/01` or `before:2026/12/31` — date range
    - `newer_than:7d` or `older_than:30d` — relative time (d=days, m=months, y=years)
    - `is:unread` — unread messages only
    - `is:starred` — starred messages
    - `has:attachment` — messages with attachments
    - `filename:pdf` — messages with specific attachment types
    - `in:inbox` — inbox only (default)
    - `in:sent` — sent mail
    - `in:drafts` — drafts folder
    - Combine with spaces (AND) or `OR`: `from:jane@acme.com subject:meeting newer_than:7d`

    ## Coordination Examples

    Common tasks for sales coordination and project management:
    - Check for prospect replies: `from:jane@acme.com newer_than:7d`
    - Find meeting-related emails: `subject:meeting OR subject:calendar newer_than:7d`
    - Check for unread replies to outreach: `in:inbox is:unread newer_than:3d`
    - Find emails with proposals or contracts: `has:attachment filename:pdf newer_than:30d`
    - Check what was sent to a prospect: `to:jane@acme.com in:sent newer_than:30d`

    ## Creating Draft Emails

    Use `createGmailDraft` to compose emails. The draft is saved to the user's Gmail Drafts folder — the user must review and send it manually from Gmail. You cannot send emails directly.

    To create a draft:
    1. Compose an RFC 2822 message with headers: `From`, `To`, `Subject`, `Content-Type: text/plain; charset="UTF-8"`
    2. For replies, include `In-Reply-To` and `References` headers with the original message's `Message-ID`, and pass the `threadId`
    3. Base64url-encode the entire message (replace `+` with `-`, `/` with `_`, remove `=` padding)
    4. Call `createGmailDraft` with the encoded message
    5. Tell the user the draft is ready for them to review and send from Gmail

    **Example RFC 2822 message before encoding:**
    ```
    From: me@example.com
    To: jane@acme.com
    Subject: Follow-up on our demo
    Content-Type: text/plain; charset="UTF-8"

    Hi Jane,

    Thanks for taking the time to see our demo yesterday...
    ```

    The user must open Gmail and send the draft themselves. Always confirm with the user what the draft should contain before creating it.

  icon:
    type: material-ui
    name: Email
    color: '#EA4335'
    
  oauth:
    provider: google
    scopes:
      - https://www.googleapis.com/auth/gmail.readonly
      - https://www.googleapis.com/auth/gmail.compose
      
  api:
    baseUrl: https://www.googleapis.com
    headers:
      Accept: application/json
    
    schema: |
      openapi: 3.0.3
      info:
        title: Gmail API
        description: Access Gmail messages, user profile, and draft creation
        version: "v1"
      servers:
        - url: https://www.googleapis.com
      paths:
        /gmail/v1/users/me/profile:
          get:
            summary: Get user Gmail profile
            operationId: getGmailProfile
            security:
              - BearerAuth: []
            responses:
              '200':
                description: Gmail profile information
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        emailAddress:
                          type: string
                        messagesTotal:
                          type: integer
                        threadsTotal:
                          type: integer
                        historyId:
                          type: string
        /gmail/v1/users/me/messages:
          get:
            summary: List Gmail messages
            operationId: listGmailMessages
            description: Returns message IDs matching the query. Use getGmailMessage to fetch full content for each ID.
            security:
              - BearerAuth: []
            parameters:
              - name: q
                in: query
                schema:
                  type: string
                description: Gmail search query (e.g., "is:unread", "from:example@gmail.com", "subject:meeting newer_than:7d")
              - name: maxResults
                in: query
                schema:
                  type: integer
                  default: 100
                  maximum: 500
              - name: pageToken
                in: query
                schema:
                  type: string
                description: Token for pagination
              - name: labelIds
                in: query
                schema:
                  type: string
                description: Only return messages with the specified label ID (e.g., INBOX, SENT, DRAFT, STARRED, UNREAD)
            responses:
              '200':
                description: List of message IDs. Use getGmailMessage to fetch full content.
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        messages:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              threadId:
                                type: string
                        nextPageToken:
                          type: string
                        resultSizeEstimate:
                          type: integer
        /gmail/v1/users/me/messages/{id}:
          get:
            summary: Get Gmail message by ID
            operationId: getGmailMessage
            description: Returns full message content including headers, body, and attachments. Body data is base64url-encoded.
            security:
              - BearerAuth: []
            parameters:
              - name: id
                in: path
                required: true
                schema:
                  type: string
              - name: format
                in: query
                schema:
                  type: string
                  enum: [minimal, full, raw, metadata]
                  default: full
                description: "full = headers + body, metadata = headers only, minimal = IDs only, raw = entire RFC 2822 message"
            responses:
              '200':
                description: Gmail message details
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        id:
                          type: string
                        threadId:
                          type: string
                        labelIds:
                          type: array
                          items:
                            type: string
                        snippet:
                          type: string
                          description: Short plaintext snippet of the message body
                        internalDate:
                          type: string
                          description: Message timestamp in milliseconds since epoch
                        sizeEstimate:
                          type: integer
                        payload:
                          type: object
                          description: "For simple messages, body is in payload.body.data. For multipart messages (mimeType starts with multipart/), body is in payload.parts — look for the text/plain part."
                          properties:
                            mimeType:
                              type: string
                              description: "e.g. text/plain, text/html, multipart/alternative, multipart/mixed"
                            headers:
                              type: array
                              description: "Email headers (From, To, Subject, Date, Message-ID, In-Reply-To, References, etc.)"
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  value:
                                    type: string
                            body:
                              type: object
                              description: "Body data for simple (non-multipart) messages. Data is base64url-encoded."
                              properties:
                                data:
                                  type: string
                                  description: Base64url-encoded body content
                                size:
                                  type: integer
                            parts:
                              type: array
                              description: "Parts of a multipart message. Each part has its own mimeType and body. Look for text/plain for readable text, text/html for HTML. Parts with a filename are attachments."
                              items:
                                type: object
                                properties:
                                  partId:
                                    type: string
                                  mimeType:
                                    type: string
                                    description: "e.g. text/plain, text/html, application/pdf, image/png"
                                  filename:
                                    type: string
                                    description: "Attachment filename (empty for inline body parts)"
                                  headers:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        value:
                                          type: string
                                  body:
                                    type: object
                                    properties:
                                      data:
                                        type: string
                                        description: Base64url-encoded part content
                                      size:
                                        type: integer
                                      attachmentId:
                                        type: string
                                        description: "ID for fetching large attachments separately (present when data is omitted)"
                                  parts:
                                    type: array
                                    description: "Nested parts (for multipart/alternative inside multipart/mixed)"
                                    items:
                                      type: object
                                      properties:
                                        partId:
                                          type: string
                                        mimeType:
                                          type: string
                                        filename:
                                          type: string
                                        body:
                                          type: object
                                          properties:
                                            data:
                                              type: string
                                            size:
                                              type: integer
        /gmail/v1/users/me/drafts:
          post:
            summary: Create a draft email in the user's Drafts folder
            operationId: createGmailDraft
            description: "Creates a draft email that appears in the user's Gmail Drafts folder. The user must open Gmail and send it manually. Use this instead of sending directly — you cannot send emails."
            security:
              - BearerAuth: []
            requestBody:
              required: true
              content:
                application/json:
                  schema:
                    type: object
                    required:
                      - message
                    properties:
                      message:
                        type: object
                        properties:
                          raw:
                            type: string
                            description: "Base64url-encoded RFC 2822 email message. Must include From, To, Subject, and Content-Type headers."
                          threadId:
                            type: string
                            description: "Thread ID for reply drafts. Include this along with In-Reply-To and References headers to keep the draft in the same thread."
            responses:
              '200':
                description: Draft created successfully — it now appears in the user's Gmail Drafts folder
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Draft ID
                        message:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Message ID
                            threadId:
                              type: string
                            labelIds:
                              type: array
                              items:
                                type: string
      components:
        securitySchemes:
          BearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT

  configurable: false