## example docker-compose .env file for production (note REPLACE_ME below)

# serve production assets
FRONTEND_TARGET=deploy-frontend

# frontend runs nginx not yarn
FRONTEND_ENTRYPOINT=/docker-entrypoint.sh

# run noxy on another port and then run nginx with certbot on the host for TLS
NOXY_PORT=8001

# storage (devstack will use docker volumes by default)
KEYCLOAK_DATA=/data/postgres-data
POSTGRES_DATA=/data/helix-data

# set passwords
KEYCLOAK_ADMIN_PASSWORD=REPLACE_ME
POSTGRES_ADMIN_PASSWORD=REPLACE_ME

# urls
KEYCLOAK_FRONTEND_URL=https://app.tryhelix.ai/auth/
SERVER_URL=https://app.tryhelix.ai

# start the server rather than having the user start it in development (via tmux script)
API_ENTRYPOINT=go run . serve
