api/pkg/skills/test_results/
.env
.env.*
node_modules
*.sw*
frontend/lib
gradio/__pycache__
__pycache__
venv
*.tar
dist
api/runs
kubeconfig
.vscode
integration-test/frontend/screenshots
instructions.txt
build-errors.log
.DS_Store
vendor
*/**/out.md
charts/helix-controlplane/charts/*.tgz
