services:
  runner:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.runner
    network_mode: "host" # So the runner can access the control plane that is running on the host
    ports:
      - ${SERVER_PORT-8081}:${SERVER_PORT-8081}
    environment:
      - LOG_LEVEL=${LOG_LEVEL-info}
      - RUNNER_ID=${RUNNER_ID-local-dev-runner}
      - API_HOST=${API_HOST-http://localhost:80}
      - API_TOKEN=${API_TOKEN-oh-hallo-insecure-token}
      - MEMORY_STRING=${MEMORY_STRING-24GB}
      - ALLOW_MULTIPLE_COPIES=true
      - RUNNER_WARMUP_MODELS=${RUNNER_WARMUP_MODELS-llama3:instruct}
      - SERVER_HOST=${SERVER_HOST-0.0.0.0}
      - SERVER_PORT=${SERVER_PORT-8081}
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
