requests~=2.32.3
unstructured~=0.12.3
beautifulsoup4~=4.12.3
alembic==1.13.1
Flask==3.0.0
unstructured-client==0.16.0
unstructured-inference==0.7.23
unstructured.pytesseract==0.3.12
llama-index==0.9.30
SQLAlchemy==2.0.25
pgvector==0.2.4
psycopg2-binary==2.9.9
html2text==2020.1.16